asgiref==3.2.10
da-vinci==0.3.0
Django==3.1.1
django-appconf==1.0.4
django-imagekit==4.0.2
django-js-asset==1.2.2
django-ranged-response==0.2.0
django-simple-captcha==0.5.13
django-thumbnails==0.3.2
django-tinymce==3.1.0
djangorestframework==3.11.1
mysqlclient==2.0.1
pilkit==2.0
Pillow==7.2.0
pyenchant==3.1.1
pytz==2020.1
shortuuid==1.0.1
six==1.15.0
sqlparse==0.3.1
