<!-- {% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="resume">

	<div class="resume_img">
		<a href="{{resume_file_jpg.res_file.url}}"><img class = "responsive" src="{{resume_file_jpg.res_file.url}}" alt={{resume_file_jpg.title}}>	</a>
	</div>
	

	<div class="resume_side">
		<div class="resume_sidebar"> 
		<h5 class ="sidebar_section_title pt-3"> Email:</h5>		
		<div class="pt-1">
			<p> <a class="link" href="mailto:contact@mickieblair.com">contact@mickieblair.com</a></p>
		</div>	

		<h5 class ="sidebar_section_title"> PDF Resume:</h5>		
		<div class="pt-1">
			<p> <a class="link" href="{{resume_file_pdf.res_file.url}}">{{resume_file_pdf.title}}</a></p>
		</div>	


	</div>

		
	</div>
	
</div>






 
{% endblock content %}-->